<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
        function signIn()
        {
            document.getElementById("signin").submit()
        }
        function signUp()
        {
            document.getElementById("signup").submit()
        }
    </script>
    <title>Welcome</title>
  </head>
  <body>
    {{ . }}
    <h3>Sign In </h3>


    <form id="signin" action="login" method="get">
    Account: <input type="text" name="account" size="20"><br />
    Password: <input type="text" name="password" size="20"><br />
    </form>
    <br />
<input type="button" onclick="signIn()" value="sign in">
    <br />
    <br /> 
    <br />
    <h3>Sign Up</h3>
    <form id="signup" action="register" method="get">
    Account: <input type="text" name="account" size="20"><br />
    Password: <input type="text" name="password" size="20"><br />
    Nickname: <input type="text" name="nickname" size="20"><br />
    </form>
    <br />
<input type="button" onclick="signUp()" value="sign up"> 
  </body>
</html>
